html, body {
    height: 100%;
    margin: 0;
}

body {
   background-color: black;
}

.container {
    position: relative;
    height: 100%;
  }
  
  .content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Opsional: Pusatkan konten horizontal */
  }

  h1{
    padding-bottom: 25%;
  }

  a{
    text-decoration: none;
    color: bisque;
  }